h2{
    color:rgb(48, 48, 48);
    text-align:center;
}

button{
    color:white;
    background-color:rgb(85, 85, 221);
    text-align: center;
}

p{
    color:white;
    background-color: #ffa511;
    text-align: center;
}

