#outer{

    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

#second{

    width: 200px;
    height:200px;
    background-color: orange;
    border-radius: 50%;
}

#third{

    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top:50px;
    left:35px;
}

#fourth{

    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top:23px;
    left:135px;
}

#fifth{
     
    height:50px;
    width: 110px;
    background-color: brown;
    position: absolute;
    top: 130px;
    left:50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}